@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --background: rgb(26, 161, 173);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--background);
}
.main {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    overflow: hidden;
}
.bg-top {
    position: absolute;
    background: url("../images/bg-pattern-top.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 978px;
    width: 978px;
    top: -584px;
    left: -284px;
}
.bg-bottom {
    position: absolute;
    background: url("../images/bg-pattern-bottom.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 978px;
    width: 978px;
    bottom: -668px;
    right: -250px;
}
.card {
    position: relative;
    width: 300px;
    height: 375px;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}
.card__img {
    width: 100%;
    height: 130px;
}
.card__avatar {
    position: absolute;
    border-radius: 50%;
    top: 82px;
    left: 102px;
}
.card__info {
    margin-top: 68px;
    width: 100%;
    text-align: center;
}

.card__name {
    font-size: 2rem;
    display: inline;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
}

.card__age {
    margin-left: 6px;
    font-size: 1.8rem;
    color: var(--Dark-grayish-blue);
  

}

.card__address {
    margin-top: 6px;
    color: var(--Dark-grayish-blue);
    font-size: 1.5rem;
 
}

.card__stats {
    margin-top: 30px;
    border-top: 1.5px solid hsla(0, 0%, 59%, 0.2);
    display: flex;
    justify-content: space-evenly;
}

.card__stats-item {
    margin-top: 26px;
    text-align: center;
}
.card__stats-quantity {
    font-weight: 700;
    display: block;
    font-size: 2rem;
    color: var(--Very-dark-desaturated-blue);
}
.card__stats-category {
    display: block;
    margin-top: 4px;
    font-size: 1.3rem;
    color: var(--Dark-grayish-blue);

}

.attribution { 
    margin-top: 20px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: #fff;
   
}

@media(max-width: 700px){
    .bg-top{
        height: 375px;
        width: 375px;
        top:-160px;
        left:-167px;
    }
    .bg-bottom{
        height: 375px;
        width: 375px;
        bottom: -79px;
        right: -167px;
    }
}
